# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and related files
node_modules
package.json
package-lock.json

# Frontend-specific files
recipe-remixer/frontend/vite.config.js
recipe-remixer/frontend/eslint.config.js
recipe-remixer/frontend/package.json
recipe-remixer/frontend/package-lock.json
recipe-remixer/frontend/node_modules

# Backend-specific files
recipe-remixer/backend/.env
recipe-remixer/backend/package.json
recipe-remixer/backend/package-lock.json
recipe-remixer/backend/server.log
recipe-remixer/backend/node_modules

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
